#content-preview
{
position:fixed;
right:0;
top:0;
height:0;
background:#fff;
z-index:1000;
width:100%;
display:none;
}

#content-preview a.close
{
display:block;
float:right;
font-weight:normal;
font-size:0.7em;
color:#333;
text-decoration:none;
}

#content-preview img
{
vertical-align:middle;
}

#content-preview .context-information
{
border-top:1px solid #ccc;
margin-bottom:0;
}

.controlbar-fixed #content-preview.previewed
{
border-top:1px solid #ccc;
display:block;
}

#content-preview .loader, #content-preview .error
{
display:none;
}

#content-preview.loading, #content-preview.error
{
text-align:center;
}

#content-preview.loading .loader
{
margin:40px auto 0 auto;
display:inline-block;
font-size:120%;
background:#fff url(../../../../../design/admin2/images/2/loader.gif) 15px center no-repeat;
padding:20px 30px 20px 62px;
color:#222;
}

#content-preview.loading #preview-iframe
{
display:none;
}

#content-preview.error .error
{
margin:40px auto 0 auto;
display:inline-block;
font-size:120%;
background:#ffdede url(../../../../../design/admin2/images/message-error.gif) 15px center no-repeat;
padding:20px 30px 20px 62px;
border:1px solid #9a2e2e;
border-radius:5px;
color:#550101;
}

#content-preview.previewed iframe
{
border:1px solid #999;
width:100%;
margin-bottom:10px;
}

#content-preview .preview-header
{
padding:20px 0 10px 0;
}


#content-preview h1
{
margin-top:0;
}

#content-preview.error #preview-iframe
{
display:none;
}

#preview-iframe
{
padding:0 20px;
}

#preview-spacer
{
visibility:hidden;
}

.controlbar-fixed #preview-link, .controlbar-fixed #preview-spacer
{
display:inline-block;
padding:0 0.8em;
margin-left:0.5em;
font-weight:bold;
}

#preview-link, #preview-spacer
{
display:none;
}

#preview-link span, #preview-spacer span
{
display:inline-block;
margin-top:0.7em;
padding-left:15px;
background: url(../../../../../design/admin2/images/2/yui_sprite.png) no-repeat -16px -850px;
}

#preview-link
{
position:fixed;
top:0;
right:0;
border-left:1px solid #ccc;
z-index:2000;
}

#preview-link:hover
{
cursor:s-resize;
}

#preview-link.previewed
{
background:#fff;
z-index:2000;
border-bottom:1px solid #fff;
}


#preview-link.previewed span
{
background: url(../../../../../design/admin2/images/2/yui_sprite.png) no-repeat -16px -950px;
}

#preview-link.previewed:hover
{
cursor:n-resize;
}

.preview-warning
{
font-size:1.1em;
}
