#qhautosavecontainer {
    position: fixed;
    top: 0;
    width: 100%;
}

.qhautosavemessage {
    background-color: #FF8000;
    margin: auto;
    text-align: center;
}

#qhautosave_notify_by_pulsing_bar {
    width: 100%;
    height: 2px;
}

#qhautosave_notify_by_label {
    padding-bottom: 3px;
    padding-top: 3px;
    width: 200px;
}
